body{
	margin: 0;
	font-family: "Segoe UI", sans-serif, verdana;


}


.middle-container{

	display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;

}

.inner-container{
	display: flex;
}

.img-container{
	width: 35vw;
	min-width: 500px;
	padding-left: 20vw;
}

.img-div{
	min-width: 300px;
	text-align: center;

}

.profile-img{
	height: 300px;
	width: 300px;
	vertical-align: middle;
	border-radius: 160px;
    overflow: hidden;
/*    border-style: solid;
    border-color: grey;
    border-width: 4px;*/


}

.img-text{
	vertical-align: middle;

}

.social-container{
	text-align: center;
	vertical-align: middle;

}

.icon-link{
	text-decoration: none;
}


#linkedin-icon, #github-icon{
	cursor: pointer;
	margin-left: 8px;
	margin-right: 8px;
}

#linkedin-icon:hover{
	fill: #0077B5;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#github-icon:hover{
	fill: #6e5494;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.links-container{

}

.title{
	text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}


.links-container h1{
	/*margin-top: 0;*/
	text-decoration: underline;
	font-weight: bold;
}


.links-container a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-weight: 500;

}

.links-container a:hover{
	text-decoration: underline;
	color: black;


}

.links-container li{

	list-style-type: none;
}


.links-ul{
	line-height: 32px;
}

@media only screen and (max-width: 1000px) {

	.img-container {
		padding-left: 10vw;
	}

}


@media only screen and (max-width: 700px) {

	.middle-container {
		margin-top: 50px;
		display: unset;
	}

	.inner-container {
		display: block;
	}

	.img-container {
     	width: unset; 
     	min-width: unset; 
    	padding-left: 0;
	}

	.links-container {

		text-align: center;
	}

	.links-ul {
		padding-left: 0;
	}

	.title {
		font-weight: bold;
	}


}